.description {
    display: none; /* Start hidden */
    margin-top: 10px;
}

.more-info {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

h1,h2 {
    text-align: center;
}
body {
    background-image: url('trunk\ or\ treat\ background.jpg'); 

}